body{
	padding:50px;
	text-align:center;
	background-color:lightblue;
}
.containe{
	
}
.reveal_wrapper{
	width:400px;
	height:400px;
	position:relative;
	background-color:white;
	overflow:hidden;
}
.reveal_wrapper:hover .reveal_top{
	top:-100%;
}
.reveal_content{
	
}
.reveal_content h1{
	margin:0;
}
.reveal_top{
	width:100%;
	height:100%;
	left:0;
	top:0;
	position:absolute;
	background-color:red;
	transition:top .3s ease;
	opacity:.5;
}
.reveal_top p{
	display:inline-black;
}