body{
	padding:50px;
	text-align:center;
	background-color:lightblue;
}
.containe{
	
}
.reveal_wrapper{
	width:400px;
	height:400px;
	position:relative;
	background-color:white;
	overflow:hidden;
}
.reveal_wrapper:hover .reveal_top{
	top:-100%;
}
.reveal_wrapper:hover .reveal_bottom{
	margin-top:100%;
}
.reveal_wrapper:hover .reveal_content h1{
	transform:scale(2);
}
.reveal_content{
	
}
.reveal_content h1{
	margin:0;
	padding:40%;
	transform:scale(0);
	transition:transform .7s ease;	
}
.reveal_top{
	width:100%;
	height:50%;
	left:0;
	top:0;
	position:absolute;
	background-color:red;
	transition:top .3s ease;
	
}
.reveal_top p{
	display:inline-black;
	
}
.reveal_bottom{
	width:100%;
	height:50%;
	left:0;
	top:0;
	bottom:0;
	right:0;
	margin-top:50%;
	position:absolute;
	background-color:red;
	transition:margin-top .3s ease;
	
}
.reveal_bottom p{
	display:inline-black;
}







